/* #region common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

i {
    color: var(--d-darker);
}

ul {
    list-style: none;
}

h1 {
    padding-top: 5rem;
    font-size: 4.5rem;
    font-weight: 900;
}

img {
    max-width: 100%;
}
/* #endregion common rules */


/* #region palette colors */

:root {
    --d-jumbo: #b4d0e7;
    --d-lighter: #ffffff;
    --d-darker: #000000;
    --d-button: #0061ff;
    /* COLOR TEAM */
    --d-designit: #a2d39b;
    --d-asu: #61082b;
    --d-florida: #0093ce;
    --d-topps: #ff1c1c;
    --d-centersquare: #f5f5f5;
    --d-wbr: #d5001f;
    --d-planet: #0d2481;
    --d-hearts: #b4d0e7;
    --d-clear: #ffd830;
}

/* #endregion palette colors */

/* #region utilities */

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.end {
    justify-content: end;
}

.row {
    justify-content: space-between;
}

.baseline {
    align-items: baseline;
}

/* SPAZI */
.p3 {
    padding: 8rem 2rem;
}


/* CONTENITORI */
.container {
    width: 70%;
    max-width: 1140px;
    margin: auto;
}

/* COLONNE */
.col-12 {
    width: 100%;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-6 {
    width: calc(100% / 12 * 6);
}


.col-4 {
    width: calc((100% / 12 * 4) - 2rem);
}

/* BOTTONE */
.btn {
    color: var(--d-lighter);
    background-color: var(--d-button);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.5s ease 0s;
}

.btn:hover {
    box-shadow: inset 0 0 0 6px #5b9aff;
  }

/* POSITION */
.p-relative {
    position: relative;
    top: 0;
    left: 0;
}

.p-absolute {
    position: absolute;
}


/* #endregion utilities */

/* #region header */
#app-header ul > * {
    padding: 2rem 0.8rem;  
}

nav {
    background-color: var(--d-lighter);
}

nav a {
    color: var(--d-darker);
}

nav li:hover > .focus {
    display: block;
}

nav .focus {
    bottom: 0;
    left: 0;
    height: 5%;
    background-color: var(--d-darker);
    animation: focus 1s ease infinite;
    display: none;
}

@keyframes focus {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#jumbotron {
    background-color: var(--d-jumbo);
}

#jumbotron .description > * {
    margin: 2rem 0;
}

#jumbotron img {
    position: absolute;
    top: 35px;
    left: 0;
}


/* #endregion header */

/* #region main */
.card > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* #region BOTTONE PIANO MENSILE */

input[type='radio'] {
    display: none;
}

label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
  }
  
label {
    position: relative;
    margin-right: 1rem;
}
  
input[type='radio']:checked + span {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 0px;
    display: block;
    background-color: var(--d-button);
}

input[type='radio']:checked + span > span {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    background-color: var(--d-lighter);
}

/* #endregion BOTTONE PIANO MENSILE */



/* STILE CARD PLANS */

#app-main .col-4 > .card{
    margin: 2rem 0;
    border: 1px solid black;
}

#app-main .col-12 > .card {
    border: 1px solid var(--d-darker);
}

.chisei {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.card-container {
    padding: 2rem;
}

.card-layout {
    margin-bottom: 3rem;
}

.card-layout > * {
    margin-bottom: 1rem;
}


.card-layout > p {
    font-weight: 800;
}

.li-container {
    flex-wrap: nowrap;
}

.card-layout li {
    margin-bottom: 1rem;
}

.card-layout i {
    padding-right: 0.5rem;
}

.buy-now {
    text-decoration: underline;
    color: var(--d-florida);
}

.hr {
    display: block;
    width: 30%;
    border: 1px solid #eee;
}

.fa-check {
    color: var(--d-button);
}


/* #endregion main */
